* {
    background-color: #ffe4f6;
}
h1 {
    color: #df2ba9;
    font-family: sofia;
    font-size: 70px;
    line-height: 60px;
    text-align: center;
}

h3, h2 {
    color: #df2ba9;
    text-align: center;
    font-family: sofia;
    font-size: 30px;
}

hr {
    border-top: 2px dotted rgb(125, 125, 125);
}

div p{
    font-size: 20px;
    font-family: arial;
    color:rgb(115, 115, 115);
}

.titleRight {
    font-size:25px;
}

.description {
    text-transform: uppercase;
    font-size: 19px;
    font-family: arial;
    color: black;
}

.descriptionRight {
    text-transform: uppercase;
    font-size: 17px;
    color: black;
    font-family: arial;
}

body{
    margin: 10px 50px;
}

.block {
    display: block;
    margin: 50px auto;
    text-align: center;
}

.container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.experience {
    text-align: center;
}

.right {
    border-left: solid black 1px;
    padding: 10px;
    width: 60%;
}

li p{
    line-height: 30px;
    text-align: left;
}

div p{
    text-align: left;
}



.icons {
    color: black;
    font-family: wingdings;
}

.contact {
    margin-bottom: 200px;
}