

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./MyProfilePic3.jpg");
    background-size: 600px 800px;
    background-position: 0% 10%;
    background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(204, 85, 0, .35);
}
  
.logo {
    display: flex;
    justify-content: flex-start;
    width: 100px;
    height: 100px;
  }

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

nav > a {
  color: rgb(204, 85, 0);
  margin: 10px 20px 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.name, .title, .button {
  display:flex;
  justify-content: center;
  align-items: center;
  width:700px;
}

h1 {
  font-size: 200px;
  color:rgb(204, 85, 0);
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
}

h2 {
  font-style: italic;
}

button {
  margin: 3% auto;
  width: 70%;
  height: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 25px;
  background: transparent;
  padding: 20px; 
  padding-bottom: 5%;
  text-align: center;
  color: rgb(204, 85, 0);
  letter-spacing: 16px;
  font-style: italic;
}

@media only screen and (max-width: 1287px) {
  body{
    background-size: 50%;
  }
  h1 {
    font-size: 150px;
    margin-top: 25px;
  }
  button {
    margin: 3% auto;
    width: 30%;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 25px;
    background: transparent;
    padding: 10px; 
    text-align: center;
    color: rgb(204, 85, 0);
    letter-spacing: 10px;
    font-style: italic;
  }
}


@media only screen and (max-width: 1148px) {
  h1 {
  font-size: 100px;
  }  

  button {
  margin: 3% auto;
  width: 30%;
  height: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 25px;
  background: transparent;
  padding: 10px; 
  text-align: center;
  color: rgb(204, 85, 0);
  letter-spacing: 10px;
  font-style: italic;
  }
}


@media only screen and (max-width: 770px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 20px;
  }

  .intro {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .name, .title, .button {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 300px;
  }

  nav > a {
    color: rgb(204, 85, 0);
    margin: 5px 7px 5px 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-radius: 25px;
    background: transparent;
    padding: 5px; 
    text-align: center;
    color: rgb(204, 85, 0);
    letter-spacing: 5px;
    font-style: italic;
    margin: 3% auto;
    width: 30%;
    height: 15%;
    }

}

@media only screen and (max-width: 430px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 10px;
  }

  .intro {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .name, .title, .button {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 150px;
  }

  nav > a {
    color: rgb(204, 85, 0);
    margin: 5px 7px 5px 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-radius: 25px;
    background: transparent;
    padding: 5px; 
    text-align: center;
    color: rgb(204, 85, 0);
    letter-spacing: 5px;
    font-style: italic;
    margin: 3% auto;
    width: 100%;
    height: 15%;
  }
}